.nav {
    @include flex-c-c;
    background-color: $bg-black-alpha;

    &__menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .4rem $padding-content-lr;
    }

    &__logo {
        font-family: $font-logo;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        line-height: 1;
        gap: .3rem;

        img {
            height: 1em;
            width: auto;
        }
    }
}

.cta {
    text-decoration: none;
    color: currentColor;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: .3em 1.5em;
    background-color: orangered;
   
    transition: all .25s ease-in-out;
    border-radius: 1.5rem;

    &:hover, &:focus {
        transform: scale(1.05);
    }

    &--2 {
        background-color: transparent;
        border: 3px solid orangered;

        &:hover, &:focus {
            background-color: orangered;
        }
    }
}


.viewmore {
    @include flex-c-c;
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    border-radius: 100%;
    margin: 2rem auto;
    text-align: center;
    background-color: #509BB7;
    transition: all .25s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    &:active {
        transform: scale(.95);
    }

}