.section {
    background-color: $bg-clr-1;
    
    &--faq {
        background-color: $bg-clr-2;
    }

    h3 {
        position: relative;
        text-transform: uppercase;
        font-size: 1.5rem;
        margin-bottom: 3em;
        
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -70%;
            height: 1px;
            width: 2em;
            background-color: white;
        }
    }

}