#title {
    font-size: 4rem;
    font-weight: $font-black;
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 1;
    text-shadow: $text-shadow;
}

#subtitle {
    font-size: 1.2rem;
    margin: .5rem 0;
}