// fonts  and text
$font-logo: 'Black Ops One', cursive;
$font: 'Montserrat', sans-serif;

$font-color: #EFEFEF;
$background-color: #333;

$bg-black-alpha: rgba(0,0,0,.5);

$padding-content-lr: 3%;

$font-black: 900;

$text-shadow: 3px 5px 4px rgba(0,0,0,0.7);

// margin padding 
$section-padding: 3rem 3%;

// colors
$black: #151515;
$white: #ededed;
$gray: #646464;
$bg-clr-1: #36312B;
$bg-clr-2: #565252;
$bg-clr-3: #4A3529;